<p id="notice"><%= notice %></p>

<p>
  <strong>Endtime:</strong>
  <%= @guardianship.endtime %>
</p>

<%= link_to 'Edit', edit_guardianship_path(@guardianship) %> |
<%= link_to 'Back', guardianships_path %>
